﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.input_group {
  position: relative;
  display: inline-block;
}

.uui_button{
  display: inline-block;
  height: 36px;
  line-height: normal;
  padding: 6px 18px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #e5e5e5;
  background: #e5e5e5;
  color: #666666;
  font-size: 14px;
  font-family: 'Oswald Regular', Arial, sans-serif;
  letter-spacing: .25px;
  text-transform: uppercase;
}

.filter_btn {
  float: left;
  position: relative;
  margin-right: -1px;
}
.filter_btn_active {
  float: left;
  position: relative;
  margin-right: -1px;
}

.action_btn {
  float: right;
  position: relative;
  margin-right: -1px;
}

.uui-table {
  width: 100%;
  border: 1px solid #cccccc;
  border-collapse: collapse;
  border-spacing: 0;
}
.uui-table tr {
  border-top: 1px solid #ddd;
}
.uui-table td {
  font-family: 'Source Sans Pro Regular', Arial, sans-serif;
  font-size: 16px;
  padding: 13px 15px;
  line-height: 21px;
  vertical-align: top;
  color: #666666;
}
.uui-table thead tr {
  border-bottom: 1px solid #cccccc;
}
.uui-table thead tr th {
  font-family: 'Source Sans Pro Semibold', Arial, sans-serif;
  font-size: 16px;
  vertical-align: bottom;
  text-align: left;
  padding: 12px 15px;
  line-height: 1.45;
  font-weight: normal;
  color: #666666;
}