﻿@using Request.Web.Models
@model IEnumerable<Request.Contract.Request>
@{
    ViewBag.Title = "Home Page";
}

<div id="tabContainer" class="input_group">
    @{
        var tabButtons = new List<FilterButton>();
        if (User.IsInRole("User") || User.IsInRole("Administrator"))
        {
            tabButtons.Add(new FilterButton { IsActive = true, Id = "myTab", Href = "", Label = "My" });
        }
        if (User.IsInRole("Assistant") || User.IsInRole("Administrator"))
        {
            tabButtons.Add(new FilterButton { IsActive = true, Id = "allTab", Href = "", Label = "All" });
        }

        <div id="filterTabs" class="input_group">
                @foreach (var button in tabButtons)
                {
                    <a id="@button.Id" class="uui_button @(button.IsActive ? "filter_btn_active" : "filter_btn")" href="@button.Href">@button.Label</a>
                }
        </div>
    }
    <div id="actionTabs" class="input_group">
        @if(true)//(User.IsInRole("User"))
        {
            <a href="@Url.Action("CreateRequest", "Request")" class="uui_button action_btn">New Request</a>
        }
    </div>
</div>

<div id="requestList">
    <table class="uui-table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>CreationDate</th>
            <th>Status</th>
            <th>Assistant</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var req in @Model)
            {
                <tr>
                    <td>@req.Id</td>
                    <td>@req.Type.Name</td>
                    <td>@req.DateOfCreation</td>
                    <td>@req.Status.ToString()</td>
                    <td>@req.Assistant.Name</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>